@font-face {
    font-family: 'Circe-Regular';
    src: local('Circe-Regular'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-Bold';
    src: local('Circe-Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: local('Circe-ExtraBold'), local('Circe-ExtraBold'),
        url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
